{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<section class="container">
		<div class="row">
			<h1>Register</h1>
			<div class="col-3 my-3">


				{{ form_start(registrationForm) }}

				{{ form_row(registrationForm.pseudo) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn my-2" style="background-color:#bdcf3b">Register</button>
				{{ form_end(registrationForm) }}

			</div>
		</div>
	</section>

{% endblock %}
