{% extends 'base.html.twig' %}


{% block body %}

	<section class="container">
		<div class="row">
			<div class="col-3 my-3">

				{% if registrationForm is defined and registrationForm %}
					{{ form_start(registrationForm) }}


					{{ form_row(registrationForm.pseudo) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
					{{ form_row(registrationForm.agreeTerms) }}


					<button type="submit" class="btn my-2" style="background-color:#bdcf3b">Ok</button>
					{{ form_end(registrationForm) }}
				{% endif %}
			</div>
		</div>
	</section>

{% endblock %}
