<div class="buttons">
	<div class="dropdown-custom">
		<button class="btn btn-secondary dropdown-toggle" style="background-color:var(--logo-and-font); margin-right:.7em;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			Choose a type of media
		</button>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item" href="{{path('app_book_list', {user_id: app.user.id})}}">Book</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{path('app_comic_list')}}">Comic</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{path('app_bd_list')}}">BD</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{path('app_manga_list')}}">Manga</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{path('app_cd_list')}}">CD</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{path('app_lp_list')}}">LP</a>
			</li>
		</ul>
	</div>
	<div class="container-add">
		<div class="add-button">
			<button class="btn btn-secondary" style="background-color:var(--logo-and-font)"><a href=
			{% set current_path = app.request.get('_route') %} 
			
			{% if current_path == 'app_book_list' %}  
			"{{ path('app_add_book', {user_id: app.user.id})}}"
			{# {% elseif current_path == 'app_comic_list'%}
			"{{ path('app_add_comic', {user_id: app.user.id})}}"
			{% elseif current_path == 'app_bd_list'%}
			"{{ path('app_add_bd', {user_id: app.user.id})}}"
			{% elseif current_path == 'app_manga_list'%}
			"{{ path('app_add_manga', {user_id: app.user.id})}}"
			{% elseif current_path == 'app_cd_list'%}
			"{{ path('app_add_cd', {user_id: app.user.id})}}"
			{% elseif current_path == 'app_lp_list'%}
			"{{ path('app_add_lp', {user_id: app.user.id})}}" #}
				
			{% endif %}
			
			 style="background-color:var(--logo-and-font)" data-bs-toggle="addModal" data-bs-target="#addModal"  aria-expanded="false"><img id="add-picto" src= {{ asset ("../public/images/ajouter.png") }}>
				

				 	{% if current_path == 'app_book_list' %} 
					 Add a new book 
					 {% elseif current_path == 'app_comic_list'%}
					 Add a new comic
					 {% elseif current_path == 'app_bd_list'%}
					 Add a new BD
					 {% elseif current_path == 'app_manga_list'%}
					 Add a new manga
					 {% elseif current_path == 'app_cd_list'%}
					 Add a new CD
					 {% elseif current_path == 'app_lp_list'%}
					 Add a new LP

				 {% endif %}
			</a></button>
		</div>
		
	</div>
</div>