<header>
	<div class="header">


		<nav class="navbar navbar-expand-sm align-items-end">
			<a class="navbar-brand logo" href="#">
				<img src={{ asset ("../public/images/logo.png") }}>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav">

				<span class="navbar-toggler-icon"></span>
			</button>

			{% if app.user is null %}
				<div class="collapse navbar-collapse d-flex" id="navbarNav">
					<ul class="ul-nav navbar-nav justify-content-end">

						<li class="nav-item">
							<a href="{{ path('app_register')}}" class="nav-link custom-font" data-bs-toggle="modal" data-bs-target="#SignUpModal">Sign Up</a>
							{# a mettre dans les attributs ci-dessus quand modale data-bs-toggle="modal" data-bs-target="#SignUpModal #}
						</li>
						<li class="nav-item">
							<a href="{{ path('app_login')}}" class="nav-link custom-font" data-bs-toggle="modal" data-bs-target="#LogInModal">Log In</a>
							{# a mettre dans les attributs ci-dessus quand modale data-bs-toggle="modal" data-bs-target="#LogInModal" #}
						</li>
					</ul>
				</div>
			{% else %}

				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav d-flex">


						<div class="nav-icon-box d-block align-self-end">
							<li class="nav-item mx-auto collection-picto">


								<img src={{ asset ("../public/images/collection-icon.png") }}>


							</li>

							<li class="nav-item">
								<a href="{{path('app_collection')}}">
									My Collection
								</a>
							</li>
						</div>

						<div class="nav-icon-box d-block align-self-end">
							<li class="nav-item pp-picto mx-auto">


								<img src={{ asset ("../public/images/pp.png") }}>


							</li>
							<li class="nav-item">
								<a href="#">
									Welcome
									{{app.user.pseudo}}
								</a>

							</li>
						</div>

						<div class="nav-icon-box d-block align-self-end">
							<li class="nav-item mx-auto logout-picto">


								<img src= {{ asset ("../public/images/power-off.png") }}>


							</li>

							<li class="nav-item">
								<a href="{{ path('app_logout')}}">
									Logout
								</a>
							</li>
						</div>

					</ul>


				</div>
			{% endif %}


		</nav>
        
	</div>
    
</header>
