{% extends 'base.html.twig' %}

{% block body %}

	{% include "partials/header.html.twig" %}

	{% include "partials/dropdown_btn.html.twig" %}

	<section class="container-custom--cat">

		<div class="row">

			{% for bd in bdList %}
			
				<div class="col-md-3 d-flex">


					{# <div class="col-md-6 cover">
						<img src={{ asset(vich_uploader_asset(bd, 'imageFile')) }}>
					</div> #}


					<div class="col-md-6 info">

						<div class="info info_author">{{bd.author}}</div>
						<div class="info info_title">{{bd.title}}</div>

						<div class="year_and_country d-flex">
							<div class="info info_country">{{bd.country}}
								/</div>
							<div class="info info_year">{{bd.year}}</div>
						</div>
						<div class="info info_genre">{{bd.genre}}</div>
						<div class="info info_isbn">ISBN
							{{bd.isbn}}
						</div>


						{# <div class="modif-bloc d-flex">

							<div class="modif modif-edit">

							<button class="modif-button">
								<a href="{{ path('app_edit_bd', {'user_id': app.user.id, 'bd_id': bd.id}) }}">
									<img src={{ asset ("../public/images/editer.png") }}>
								</a>
								</button>
							</div> 

							 <div class="modif modif-delete">

								<a href="{{ path('app_delete_bd', {'user_id': app.user.id, 'bd_id': bd.id}) }}"></a>
								
								 {% include 'book/deleteBdForm.html.twig' %} 


							</div> 


						</div> #}


					</div>
				</div>
			{% endfor %}

		</div>
		
	</section>

	{% include "partials/footer.html.twig" %}




{% endblock %}