{% extends 'base.html.twig' %}

{% block body %}
	{% include "partials/header.html.twig" %}

	{% include "partials/dropdown_btn.html.twig" %}


	<section class="container-custom--cat">

		<div class="row">
			<div class="col-md-3 d-flex" style="background-color:#bdcf3b">


				<div class="col-md-6 cover" style="background-color:#ed82de">
					<img src="../public/images/bookCover/haarypotter-a-l-ecole-des-sorciers-633c09be3fa16634992906.jpg">
				</div>


				<div class="col-md-6 info" style="background-color:#cc2da2">

					<div class="info --author" style="background-color:#bdcf3b">author</div>
					<div class="info --title" style="background-color:#bdcf3b">title</div>
					<div class="info --country" style="background-color:#bdcf3b">country</div>
					<div class="info --year" style="background-color:#bdcf3b">year</div>
					<div class="info --genre" style="background-color:#bdcf3b">genre</div>
					<div class="info --isbn" style="background-color:#bdcf3b">isbn</div>

				</div>


			</div>
		</div>
		{# 
									
									<div class="col-md-1 custom-cell">
										Author
									</div>
									<div class="col-md-1 custom-cell">
										Title
									</div>
									<div class="col-md-1 custom-cell">
										ISBN
									</div>
									<div class="col-md-1 custom-cell">
										Editor
									</div>
									<div class="col-md-1 custom-cell">
										Year
									</div>
									<div class="col-md-1 custom-cell">
										Country
									</div>
									<div class="col-md-1 custom-cell">
										Genre
									</div>
						
								</div> #}
	</section>


	{# <section class="container-custom--item">
			
					{% for book in bookList %}
						<div class="row">
							<div class="col-md-1 custom-cell">
								<div class="cover-cell">
			
									<img src="{{ vich_uploader_asset(book, 'imageFile') }}">
								</div>
							</div>
							<div class="col-md-1 custom-cell">{{book.author}}</div>
							<div class="col-md-1 custom-cell">{{book.title}}</div>
							<div class="col-md-1 custom-cell">{{book.isbn}}</div>
							<div class="col-md-1 custom-cell">{{book.editor}}</div>
							<div class="col-md-1 custom-cell">{{book.year}}</div>
							<div class="col-md-1 custom-cell">{{book.country}}</div>
							<div class="col-md-1 custom-cell">{{book.genre}}</div>
			
			
						</div>
					{% endfor %}
				</section> #}

{% endblock %}
