{% extends 'base.html.twig' %}


{% block body %}

	<section class="container">
		<div class="row">
			<div class="col-3 my-3">

				{% if form is defined and form %}
					{{ form_start(form, {'action': path('app_edit_comic', {'user_id': app.user.id, 'comic_id': app.request.get('comic_id')}), 'method': 'POST'}) }}
					{# {{ dump(app.request.get())}} #}


					{{ form_row(form.author) }}
					{{ form_row(form.title) }}
					{{ form_row(form.isbn) }}
					{{ form_row(form.editor) }}
					{{ form_row(form.year) }}
					{{ form_row(form.country) }}
					{{ form_row(form.genre) }}
					{{ form_row(form.imageFile) }}


					<button type="submit" class="btn my-2" style="background-color:#bdcf3b">Ok</button>
					{{ form_end(form) }}
				{% endif %}
			</div>
		</div>
	</section>

{% endblock %}